<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="ResourceMonitorDB"
            connectionString="server=samjviana.ddns.net;port=5432;user id=postgres;password=postgres9897;database=resourcemonitor"
            providerName="Npgsql" 
        />
    </connectionStrings>
</configuration>